@model EZTFT.ViewModels.TraitViewModel
@{
    ViewBag.Title = "Index";
}

<br />
<table id="traitAvgPlacement" style="text-align: center" class="table table­‐hover">
    <thead class="table-primary">
        <tr>          
            <th scope="col">Name</th>
            <th scope="col">Trait Tier</th>
            <th scope="col"># Of Plays</th>
            <th scope="col">AvgPlacement</th>
        </tr>
    </thead>
    <tbody style="font-size: 24px; font-weight: 600;" class="table-primary" >
    </tbody>
</table>

@section scripts {
    <script>
            $(document).ready(function () {
                $("#traitAvgPlacement").DataTable({
                    ajax: {
                        url: "/api/traitAvgPlacement",
                        dataSrc: function (json) {
                            var return_data = new Array();
                            for (var i = 0; i < json.length; i++)                              
                            {
                                const nameArray = json[i].name.split("_");
                                return_data.push({
                                    'name': nameArray[1],
                                    'tier_current': json[i].tier_current,
                                    'TraitMode': json[i].TraitMode,
                                    'AvgPlacement': json[i].AvgPlacement
                                })
                            }
                            return return_data;
                        }
                    },
                    columns: [
                        {
                            data: "name",
                            render: function (data) {
                                return '<p><img style="height: 48px; width: 48px;  background-color:white;padding:10px;" src="/Images/Traits/trait_icon_6_' + data + '.png"/>' + " - " + data + '</p>';
                            }
                        },
                        {
                            data: "tier_current"
                        },
                        {
                            data: "TraitMode"
                        },
                        {
                            data: "AvgPlacement"
                        }
                    ]
                });
            });
    </script>
}