@{
    ViewBag.Title = "Home Page";
}



<div class="homeHeader">
    <h1 class="homeHeader">Welcome to EZTFT!</h1>
    <p class="lead">A TFT Statistics Hub!</p>
    @* Should link to latest patch notes on Mortdog's twitter' *@
    <div>
        <p>Latest patch notes can be found <a href="https://www.leagueoflegends.com/en-us/news/game-updates/teamfight-tactics-patch-12-4-notes/" target="_blank">here!</a></p>
    </div>
    <div>
        <p>Join the discussion on <a href="https://old.reddit.com/r/CompetitiveTFT/comments/stpj85/february_16_2022_daily_discussion_thread/" target="_blank">Reddit!</a></p>
    </div>
</div>

@*<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Comp</th>
                <th scope="col">Placement</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Default</th>
                <td>Column content</td>
            </tr>
        </tbody>
    </table>
</div>*@


