@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 >Welcome to EZTFT!</h1>
    <p class="lead">A TFT Statistics Hub!</p>
</div>

<div>


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Comp</th>
                <th scope="col">Placement</th>          
            </tr>
        </thead>
        <tbody>     
            <tr>
                <th scope="row">Default</th>
                <td>Column content</td>              
            </tr>           
        </tbody>
    </table>


</div>


