
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<table id="avgItemPlacement" style="text-align: center" class="table table­‐hover">
    <thead class="table-primary">
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Play Rate</th>
            <th scope="col" style="border-right: 2px solid">Average Placement</th>
        </tr>
    </thead>
    <tbody style="font-size: 24px; font-weight: 600" class="table-primary">
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#avgItemPlacement").DataTable({
                ajax: {
                    url: "/api/avgItemPlacement",
                    dataSrc: function (json) {
                        var return_data = new Array();
                        var avgPlacement = "";
                        var playRatePercentage = "";
                        for (var i = 0; i < json.length; i++) {
                            // Replaces all spaces in item name to underscores to match the names of the item image files
                            var name = json[i].name.replace(/ /g, "_");

                            // Noramlizes playratePercentage data show to user in a XX.XX% format
                            playRatePercentage = json[i].playRate.toString();
                            if (playRatePercentage.length == 3) {
                                playRatePercentage = playRatePercentage.concat("0%");
                            }
                            else {
                                playRatePercentage = playRatePercentage.concat("%");
                            }

                            // Noramlizes avgPlacement data shown to user in a XX.XX format
                            avgPlacement = json[i].avgPlacement.toString();
                            if (avgPlacement.length == 1) {
                                avgPlacement = avgPlacement.concat(".00");
                            }
                            else if (avgPlacement.length == 3) {
                                avgPlacement = avgPlacement.concat("0");
                            }

                            return_data.push({
                                'name': name,
                                'playRate': playRatePercentage,
                                'avgPlacement': avgPlacement
                            })
                        }
                        return return_data;
                    }
                },
                columns: [
                    {
                        data: "name",
                        render: function (data) {
                            return '<img style="height: 48px; width: 48px;" src="/Images/Items/' + data + '.png"/><p style="display: none">' + data + '</p>';
                        }
                    },
                    {
                        data: "playRate"
                    },
                    {
                        data: "avgPlacement"
                    },
                ]
            });
        });
    </script>
}

